ul {
  list-style: none;
  padding-left: 0px;
}
body {
  background-color: rgb(36, 37, 37);
  color: white;
  padding: 30px;
}
input {
  border-width: 0px;
  outline-width: 0px;
  color: white;
  background-color: rgb(36, 37, 37);
}
.transparent {
  background-color: transparent;
  outline: none;
  border:1px solid #0099CC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#airplane {
  font-size: 10pt;
  color: #0099CC;
}